<p id="notice"><%= notice %></p>

<h1>User Activities</h1>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">#</th>
      <th scope="col" style="width: 35%;">Activity</th>
      <th scope="col" style="width: 10%">Date</th>
      <th scope="col" style="width: 10%">Duration</th>
      <th scope="col" style="width: 35%">Comment</th>
      <th scope="col" style="width: 5%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% row_count = 1 %>
    <% @user_activities.each do |user_activity| %>
      <tr>
        <th scope="row"><%= (row_count+1) %></th>
        <td><%= user_activity.activity.try(:name).try(:upcase) %></td>
        <td><%= user_activity.try(:log_date).strftime('%Y-%M-%d') %></td>
        <td><%= user_activity.try(:duration).strftime('%H:%M:%S') %></td>
        <td><%= user_activity.try(:log_comment) %></td>
        <td><%= link_to 'Show', user_activity %></td>
        <td><%= link_to 'Edit', edit_user_activity_path(user_activity) %></td>
        <td><%= link_to 'Delete', user_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <% row_count += 1 %>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Activity', new_user_activity_path, class: "btn btn-md btn-primary" %>
