<%= form_with(model: activity, local: true) do |f| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label name="first_name" class="sr-only" for="username">Name</label>

  <%= f.label :name, :class => "sr-only", for: "activityName" do %>Activity Name<% end %>
  <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Activity name", required: true, id: "activityName", autofocus: true %>

  <%= f.label :description, class: "sr-only", for: "des" do %>Description<% end %>
  <%= f.text_field :description, class: "form-control", placeholder: "Activity description", required: true, id: "des" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

