<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <!-- <th colspan="3"></th> -->
      <th scope="col" style="width: 5%;">#</th>
      <th scope="col" style="width: 45%;">Name</th>
      <th scope="col" style="width: 10%;">Photo</th>
      <th scope="col" style="width: 35%">Description</th>
      <th scope="col" style="width: 5%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% row_count = 1 %>
    <% @activities.each do |activity| %>
      <tr>
        <th scope="row"><%= row_count %>.</th>
        <td><%= activity.name.try(:upcase) %></td>
        <% if activity.activity_photograph.try(:attached?) %>
          <td><%= image_tag activity.activity_photograph, style: set_image_width_height(50, 50) %></td>
        <% else %>
          <td>No image found</td>
        <% end %>
        <td><%= activity.try(:description) %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Delete', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% row_count += 1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path, class: "btn btn-md btn-primary" %>
