<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Moove & Groove! :: The Fitness Tracker</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <!-- <body > -->
  <body style="display: inline;">

    <!-- render navbar -->
    <%= render "layouts/partials/navbar" %>

    <div style="margin: 30px;" class="">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  
      <%= yield %>

    </div>

    <!-- render footer -->
    <%= render "layouts/partials/footer" %>

  </body>
</html>
